body
{
    justify-content: center;
    align-items: center;
    display: flex;
    background: linear-gradient(135deg, #f0f0f0, #e2e8f0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    min-height: 100vh;
    margin: 0;
}
#produtoForm
{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    border: 1px solid #ddd;
}
section {
width: 100%;
max-width: 600px;

}

.container
{
    width: 100%;
    max-width: 900px;
    padding: 20px;
    box-sizing: border-box;
}
.listagem-section, .form-section
{
    background: #ccc;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}
#produtoForm .form-group
{
    padding: 20px;
}
#produtoForm input[type="text"], #produtoForm input[type="number"], #produtoForm select, #produtoForm textarea
{
    padding: 10px 12px;
    border : 1px solid #ccc;
    border-radius: 6px;
    color: #333;
    font-size: 1rem;
}
#produtoForm .form-group
{
    margin-bottom: 20px;
}
.form-section h1
{
    margin-top: 0;
    font-size: 18px;
    color: #333;
}
#produtoForm textarea
{
    resize: vertical;
    min-height: 100px;
}
#produtoForm label {
    display: inline-block;
    padding: 5px;
    margin: 5px;
    background-color: #f1f5f9;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;

}
#produtoForm label{
 background-color: #dbeafe;
}


#produtoForm label:hover {
    background-color: #dbeafe;
}

#produtoForm .form-group, #produtoForm .form-row
{
    margin-bottom: 16px;
}
#produtoForm button
{
    display: inline-block;
    padding: 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background: #4CAF50;
    color: white;
    font-weight:bold;
    transition: 0.3s;
}
#produtoForm button:hover{
    background: #43a047;
    transform: translateY(-1px);
}

h1{
    text-align: center;
    margin-bottom: 20px;
}
#produtoForm input:focus,
#produtoForm select:focus,
#produtoForm textarea:focus {
    transition: all 0.2s ease;
    border-radius: 8px;
}
#toast {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

table th {
    background-color: #f1f1f1;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table tr:nth-child(even) {
    background-color: #f9f9f9;
}
table tr.isento {
    background-color: #e6f7e6;
    border: 5px solid #4CAF50;
}
table th, table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ccc;
}
.listagem-section 
{
    padding: 20px;
}
.listagem-section p 
{
    margin: 0;
    font-size: 1rem;
    color: #475569;
}